body{
	background-color:silver;
	font-family:Arial;
}

#logo{
	min-width:130px;
	width:10%;
	display:inline;
}

#main{
	background-color:white;
	margin-bottom:10px;
	padding:2px;
	height:80vh;
	overflow:scroll;
}

#footer{
	width:100vw;
	text-align: center;
	background-color:white;
	padding:2px;
}

.book_list_name{
	text-align:center;
}

.book_list_table{
	width:100%;
	border-bottom:2px #efefef solid;
}	


.book_list_image{
	width:10vw;

}

#pagination{
	text-align:center;
}

.book_detail_url{
	color:black;
	text-decoration:none;
}

#book_detail_page_name{
	color:silver;
	text-shadow:black 2px 1px; 
	text-align:center;
	
}

#book_detail_page_description{
	padding-top:10px;
}

.book_detail_page_image{
	width:100px;
	height:150px;
}

#book_detail_page_table{
	width:100%;
}