body{
	background-color:silver;
	font-family:Arial;
}

#logo{
	min-width:130px;
	width:10%;
	display:inline;
}

#main{
	background-color:white;
	margin-bottom:10px;
	padding:2px;
	height:80vh;
	overflow:scroll;
}

#footer{
	width:100vw;
	text-align: center;
	background-color:white;
	padding:2px;
}

.book_list_name{
	text-align:center;
}

.book_list_table{
	width:100%;
	border-bottom:2px #efefef solid;
}	
.book_list_table th,td{
	width:20%;
}

.book_list_image{
	width:10vw;

}

#pagination{
	text-align:center;
}

.book_detail_url{
	color:black;
	text-decoration:none;
}

#book_detail_page_name{
	color:silver;
	text-shadow:black 2px 1px; 
	text-align:center;
	
}

#book_detail_page_description{
	padding-top:10px;
}

.book_detail_page_image{
	width:15vw;
	max-width:100px;

}

#book_detail_page_table{
	width:100%;
}

.LoginPageField{
	width:200px;
	text-align:center;
}

#user_profile_table{
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	font-size:150%;
}

#user_profile_table tr>th{
	background-color:black;
	color:#efefef;
}

#bar{
	width:98vw;
	margin-bottom:2%;
	height:10vh;
	min-height:25px;
	background-color:white;
}

#bar button{
	height:100%;
	min-height:25px;
	padding-left:0px;
	padding-right:0px;
	float:left;
	width:20%;
	border:silver solid 2px;
	border-radius:3%;
}

#messages_error{
	background-color:#efefef;
	float:right;
	margin:20px;
}

#user_register_form{
	text-align:center;
}

#book_sender{
	height:100vh;
	color:gold;
	background-color:red;

}

#author_image,#publisher_image{
	border-radius:50%;
	float:right;
	width:10vw;
	min-width:150px;
}

#author_detail_table,#publisher_detail_table{
	width:80%;
	margin-top:2.5%;
}

#author_about,#publisher_about{
	margin-top:5%;
}

#author_books,#publisher_books{
	width:50vw;
	border:3px silver solid;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:5%;
}

#author_books #author_detail_table th,#author_books #author_detail_table td,#publisher_books #publisher_detail_table th,#publisher_books #publisher_detail_table td
{
	width:25%;
	border:2px silver solid;
}

#author_books #author_detail_table,#publisher_books #publisher_detail_table{
	width:100%;
}