{% extends "base.html" %}
{% block title %}
	{{author.name}}
{% endblock title %}
{% block content %}
<a href="{{author.image.url}}"><img src="{{author.image.url}}" id="author_image"></a>
<table id="author_detail_table">
	<tr>
	<th>Name </th><td>{{author.name}}</td><th>Birthday </th><td>{{author.birthday|date:"Y/m/d"}}</td>
	</tr>
</table>
<div id="author_about">{{author.About}}</div>
<table>
	{% for book in author.books %}
		<tr>
			<th>{{book.name}}</th>
		</tr>
	{% endfor %}
</table>
<div id="author_books">
	<h3 id="author_detail_books">Books</h3>
	<table id="author_detail_table">
		<tr><th>Name</th><th>Publisher</th></tr>
		{% for book in books %}
		<tr>
			<td><a href="{{book.get_absolute_url}}">{{book.name}}</a></td><td>{{book.publisher}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}