{% extends "base.html" %}
{% block title %}
	homepage
{% endblock title %}
{% block content %}
	{% for book in books %}
	<a href="{{book.get_absolute_url}}" class="book_detail_url">
	<h3 class="book_list_name">{{book.name}}</h3>
	<table class="book_list_table">
		<tr>
			<th>Author : </th><td>
			{% for author in book.authors_list %}
				{{author}}
			{% endfor %}
			</td>
			<th>publisher : </th><td>{{book.publisher}}</td>
			<th>price : </th><td>{{book.book_price}}</td>
			<td><img src="{{book.image1.url}}" class="book_list_image"></td>
		</tr>
		</table>
		</a>
	{% endfor %}
	<div id="pagination">
	{% if page_obj.has_previous %}
		<a href="/?page={{page_obj.previous_page_number}}">Previous</a>
	{% endif %}
	{{page_obj.number}} of {{paginator.num_pages}} pages
	{% if page_obj.has_next %}
		<a href="/?page={{page_obj.next_page_number}}">Next</a>
	{% endif %}
	</div>
{% endblock content %}