{% load static %}
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<meta name="author" content="Hamed Ahmadi">
		<meta name="viewport" content="initial-scale=1.0,width=device-width">
		<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	</head>
	<body>
		<div id="header">
			<a href="/"><img id="logo" src="{% static 'logo.png' %}"></a>
		</div>
		<div id="bar">
			<a href="{% url 'books:homepage' %}"><button>Homepage</button></a>
		{% if request.user.is_authenticated %}
			<a href="{% url 'accounts:logout' %}"><button>Logout</button></a>
		{% else %}
			<a href="{% url 'accounts:login' %}"><button>Login</button></a>
		{% endif %}
		<a href="{% url 'pages:contact_us' %}"><button>Contact us</button></a>
		<a href="/feed/"><button>Feed</button></a>
		{% if user.is_authenticated %}
			<a href="{% url 'accounts:profile' %}"><button>Profile</button></a>
		{% else %}
			<a href="{% url 'accounts:user_register' %}"><button>sign up</button></a>
		{% endif %}
		</div>
		<div id="main">
		{% block content %}
		{% endblock content %}
		{% if messages %}
			{% for message in messages %}
				{% block messages %}
				{% endblock messages %}
			{% endfor %}
		{% endif %}
		</div>
		<div id="footer">
			<em>All rights reserved by AH Book store </em>
		</div>
	</body>
</html>